@use '../../../styles/mixins' as m;

.header {
  padding-block: var(--space-16);
  border-bottom: 1px solid var(--color-neutral-extra-light);
}

.inner {
  @include m.page-shell;
}

.row {
  display: flex;
  gap: var(--space-16);
  align-items: center;
  min-height: 2.5rem;

  @include m.from(desktop) {
    min-height: 3.5rem;
  }
}

.row:has(> [data-expanded='true']) .logo {
  display: none;

  @include m.from(desktop) {
    display: inline-flex;
  }
}

.logo {
  display: inline-flex;
  flex-shrink: 1;
  min-width: 0;
  margin-inline-end: auto;
  color: var(--color-neutral-darkest);
}

.logo svg {
  height: auto;
}
