@use './tokens';
@use './reset';
@use './mixins';
@use './typography' as type;

body {
  @include type.body-large;

  min-height: 100vh;
  background-color: var(--color-neutral-lightest);
  color: var(--color-primary-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:focus-visible {
  outline: 2px solid var(--color-accent1-medium);
  outline-offset: 2px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}
