@use '../../../styles/mixins' as m;

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--color-neutral-lightest);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-card);
}

.thumbnail,
.line,
.tag {
  @include m.skeleton;
}

.thumbnail {
  width: 100%;
  aspect-ratio: 16 / 10;
  border-radius: var(--radius-lg) var(--radius-lg) 0 0;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--space-16);
  padding: var(--space-16);
}

.line {
  border-radius: var(--radius-sm);
}

.meta,
.title,
.lead {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.meta {
  height: 0.975rem;
}

.meta .line {
  width: 60%;
  height: 0.75rem;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}

.title {
  height: 3.25rem;
}

.title .line {
  height: 1.25rem;
}

.title .line:last-child {
  width: 70%;
}

.lead {
  height: 2.625rem;
}

.lead .line {
  height: 0.875rem;
}

.lead .line:last-child {
  width: 90%;
}

.categories {
  display: flex;
  gap: var(--space-12);
}

.tag {
  width: 5rem;
  height: calc(var(--space-8) * 2 + 0.975rem);
  border-radius: var(--radius-pill);
}
